<form class="form"  method="POST" action="/mural/{{person.id}}/edit">
  <img class="img" src="{{image}}" alt="{{name}}">
  <label for="name" class="form-item">
    Image:
    <input type="" name="image" value="{{person.image}}">
  </label>
<br>
  <label for="Bio" class="form-item">
    Message:<br>
    <textarea type="text" name="message" value="{{person.message}}">
    </textarea>
  </label>

  <input type="submit" name="" value="Submit">
</form>
