<div class="container">
  {{#each people}}
    <div class="row">
      {{#each this}}
        <a href='/mural/{{id}}' class='person' style='background-image: url({{image}})'>
        <div class='name'>{{name}}</div>
        </a>
      {{/each}}
    </div>
  {{/each}}
</div>
<div id="module" style="opacity: {{opacity}}; z-index: {{z}}">
  <div class="personcontent">
      <img src='{{person.image}}'>
  <h2>{{person.name}}</h2>
<div class="view" style="display:{{view}}">
  {{person.message}}
  <a href="/mural/{{person.id}}/edit">edit</a>
</div>

<div class="edit" style="display: {{edit}}">
  {{>edit}}
<a href="/mural/{{person.id}}">Back</a>
</div>
<a href="/mural">Close Popup</a>
  </div>
</div>
